body {
  margin: 10px 5px 15px 20px;
  font-size: 12px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.dblue {
  color: darkblue;
}

.red {
  color: rgba(255, 0, 0, 0.527);
}

.trans {
  background-color: transparent;
  border-style: none;
}

.green {
  color: rgb(12, 180, 12);
}

.disabled {
  color: gray !important;
}

.search-main {
  color: blue;
}

.search-secondary {
  color: grey;
}

.r {
  text-align: right;
  clear: right;
}

.bold {
  font-weight: bold;
}
