body {
    margin: 10px 5px 15px 20px; font-size: 12px;
}

.hidden {
    display: none;
}

.dblue {
    color: darkblue;
}

.red {
    color: rgba(255, 0, 0, 0.527); 
}

.trans {
    background-color: transparent;
    border-style: none;
}